<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can reach out to Siddhesh Acharekar via
  <%= mail_to "siddheshsacharekar@gmail.com", "email"%>
  Or 
  <a href="https://www.linkedin.com/in/siddhesha/"><em>LinkedIn</em></a>!.
</p>